<!--
* Miranda Johnson
* FWF Week 2 (setting local storage)
-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FWF Week 2 || Johnson, Miranda </title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/dataService.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="employDir" ng-controller="employController">
<div class="empCon">
<h1>Employee Directory </h1>
<p>Manage your employee directory below.</p>
<hr>
<div class="form">
    <form ng-submit="addEmp()">
    <h2>Add Employee</h2>
    <label> Employee:</label>
    <br>
    <input type="text" ng-model="newEmp.name"/>
    <br>
    <label> Street:</label>
    <br>
    <input type="text" ng-model="newEmp.address"/>
    <br>
    <label> City:</label>
    <br>
    <input type="text" ng-model="newEmp.city"/>
    <br>
    <label> State:</label>
    <br>
    <input type="text" ng-model="newEmp.state"/>
    <br>
    <label> Zip Code:</label>
    <br>
    <input type="text" ng-model="newEmp.zip"/>
    <br>
    <input type="submit" value="add employee" ng-click="newEmp"/>
        </form>
    <br>
</div>
  <br>
    <h2>New Employees</h2>
    <div id="empAdded" class="empAdded" ng-repeat="newEmp in employees track by $index">
        <h4>Submitted:</h4>
     <ol>
         <li>
             {{newEmp.name}}
             {{newEmp.address}}
             {{newEmp.city}},
             {{newEmp.state}}
             {{newEmp.zip}}
         </li>
     </ol>
     <br>
   </div>
  </br>
<div  id="dir" class="dir" ng-controller="employController">
    <h2>Employees</h2>
    <p><label>Search Directory: </label><input type="text" ng-model="query"/></p>

    {{searchText}}

    <div id="empList">
        <ol>
            <li ng-repeat="emp in employees |filter: query">
                {{emp.name}}
                {{emp.address}}
                {{emp.city}},
                {{emp.state}}
                {{emp.zip}}
                <button ng-click="deleteEmp(emp)">x</button>

            </li>
        </ol>
    </div>
  </div>
<hr>
    </div>
   <footer> Employee Directory ~ Angular.js ~ Assignment ~ </footer>
</body>
</html>