


body{
    background-color: #F9F9F9;
}
h1 {
    background-color: #ffffff;

}
.ng-scope {
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}
.ng-binding {
    border: 0px;
    width:100%;
    background-color: #ffffff;
}

ol {
    list-stle-type: decimal;
    background-color: #ffffff;
    width: 200px;
}