<!--
* Miranda Johnson
* FWF Week 1
-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FWF Week 1 || Johnson, Miranda </title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.23/angular.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app>
<h1>Grocery List </h1>
<p>Add and remove items to create your grocery list below.</p>
<div ng-controller="DBController">
    <input type="text" ng-model="listName"/>
     <input type="submit" ng-click="addName()"/>
    <p>Items needed: {{listName}}</p>
    <ol>
        <li ng-repeat="name in listArray">{{name}}
        <button ng-click="deleteName(name)">X</button></li>
    </ol>
</div>


</body>
</html>